<section *ngIf="VerifyMail"  class="d-flex justify-content-center align-items-center h-100 p-5">
  <mat-card class=" card p-5 shadow-effect">
    <mat-card-title class="title mb-4">Please enter your email to confirm...!</mat-card-title>
    <div class="alert alert-danger" *ngIf="meassage">{{ meassage }}</div>
    <form [formGroup]="forgetForm" (ngSubmit)="verifyEmail()">
      <mat-form-field  class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email"  matInput placeholder="Ex. pat@example.com" formControlName="email">
        <mat-error *ngIf="fc['email'].errors?.['email']">
          Please enter a valid email
        </mat-error>
        <mat-error *ngIf="fc['email'].errors?.['required']">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="mt-4" mat-raised-button >Check</button>
    </form>
  </mat-card>
</section>

<section *ngIf="Verified"   class="d-flex justify-content-center align-items-center h-100 p-5">
  <mat-card class=" card p-5 shadow-effect">
    <div class="alert alert-success" *ngIf="meassage">{{ meassage }}</div>
    <mat-card-title class="title mb-4">Please enter your code to verify...!</mat-card-title>
    <div class="alert alert-danger" *ngIf="errorMeassage">{{ errorMeassage }}</div>
    <form [formGroup]="verifyForm" (ngSubmit)="verifyCode()">
      <mat-form-field  class="example-full-width">
        <mat-label>code</mat-label>
        <input type="text"  matInput placeholder="Ex. 123456" formControlName="resetCode">
        <mat-error *ngIf="verifyCodeFc['resetCode'].errors?.['required']">
          Reset code is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verifyCodeFc['resetCode'].errors?.['minlength']">
          Reset code must be 6 digits
        </mat-error>
        <mat-error *ngIf="verifyCodeFc['resetCode'].errors?.['maxlength']">
          Reset code must be 6 digits
        </mat-error>
      </mat-form-field>
      <button [disabled]="verifyForm.invalid" class="mt-4" mat-raised-button >Verify</button>
    </form>
  </mat-card>
</section>


<section *ngIf="resetPass"  class="d-flex justify-content-center align-items-center h-100 p-5">
  <mat-card class=" card p-5 shadow-effect">
    <div class="alert alert-success" *ngIf="meassage">{{ meassage }}</div>
    <mat-card-title class="title mb-4">Please enter new creditional...!</mat-card-title>
    <div class="alert alert-danger" *ngIf="errorMeassage">{{ errorMeassage }}</div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <mat-form-field  class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password"  matInput placeholder="Ex. 123456" formControlName="password">
        <mat-error *ngIf="resetPasswordFc['password'].errors?.['required']">
          New password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field  class="example-full-width mt-3">
        <mat-label>Confirm Password</mat-label>
        <input type="password"  matInput placeholder="Ex. 123456" formControlName="confirmPassword">
        <mat-error *ngIf="resetPasswordFc['confirmPassword'].errors?.['required']">
          Confirm code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button class="mt-4" mat-raised-button >Verify</button>
    </form>
  </mat-card>
</section>
