<section >
<div class="dashboard">
  <mat-card class="p-4 shadow-effect" routerLink="/admin/product">
    <div class="post text-center">
        <mat-icon>settings_applications</mat-icon>
        <p>manage product</p>
    </div>
  </mat-card>
  <mat-card class="p-4 shadow-effect" routerLink="/admin/category">
    <div class="post text-center">
        <mat-icon>settings_applications</mat-icon>
        <p>manage category</p>
    </div>
  </mat-card>
  <mat-card class="p-4 shadow-effect" routerLink="/admin/users">
    <div class="post text-center">
        <mat-icon>settings_applications</mat-icon>
        <p>manage users</p>
    </div>
  </mat-card>
</div>
</section>
