<mat-toolbar  class="d-flex justify-content-between align-items-center " >

  <div *ngIf="sideNavbar?.mode =='over'" >
  <button mat-icon-button *ngIf="sideNavbar?.mode =='over'" (click)="sideNavbar.toggle()">
    <mat-icon *ngIf="!sideNavbar.opened">menu</mat-icon>
    <mat-icon *ngIf="sideNavbar.opened">close</mat-icon>
  </button>
</div>

<div class="site-logo d-none d-sm-block">
  <h2>Art-Gallary</h2>
</div>

<div class="dark-mode">
  <button mat-button (click)="changeTheme()">
    <mat-icon>{{ theme }}</mat-icon>
  </button>
</div>

<div class="nav-icon">

    <button mat-icon-button routerLink="/users/favorite" *ngIf="this.currentUser?.data?.role == 'user' && isLoggedIn">
      <mat-icon  matBadge="{{ favoriteLength }}" matBadgeColor="warn">favorite</mat-icon>
    </button>

    <button mat-icon-button routerLink="/users/cart"  *ngIf="this.currentUser?.data?.role == 'user' && isLoggedIn ">
      <mat-icon matBadge="{{ cartLength }}" matBadgeColor="warn">local_grocery_store</mat-icon>
    </button>

</div>

<div class="nav-button">
  <button *ngIf="!isLoggedIn" mat-raised-button routerLink="/auth/login">Login</button>
  <button *ngIf="isLoggedIn" mat-raised-button (click)="logOut()">LogOut</button>
</div>

</mat-toolbar>

