<section>
  <h2 class="main-title">{{ mode }} user</h2>
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <div>
        <mat-form-field class="example-full-width mb-3">
          <mat-label> Name</mat-label>
          <input type="text"  matInput placeholder="Ex. motemed" formControlName="name">
          <mat-error *ngIf="fc['name'].errors?.['required']">
            User name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-3">
          <mat-label> Email</mat-label>
          <input type="email"  matInput placeholder="Ex. mm@mm.com" formControlName="email">
          <mat-error *ngIf="fc['email'].errors?.['required']">
            Email name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="fc['email'].errors?.['email']">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="d-none">
          <input type="text"  matInput  formControlName="id">

        </mat-form-field>

        <mat-form-field class="example-full-width mb-3">
          <mat-label> Phone</mat-label>
          <input type="text"  matInput placeholder="Ex. 01022484942" formControlName="phone">
          <mat-error *ngIf="fc['phone'].errors?.['required']">
            User required is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="fc['phone'].errors?.['pattern']">
            invalid phone number
          </mat-error>
        </mat-form-field>

          <mat-form-field class="example-full-width mb-3">
          <mat-label>Role</mat-label>
          <mat-select    formControlName="role">
            <mat-option   value="user">
              User
            </mat-option>
            <mat-option  value="admin">
              Admin
            </mat-option>
            <mat-option  value="superAdmin">
              Super Admin
            </mat-option>
          </mat-select>
          <mat-error *ngIf="fc['role'].errors?.['required']">
            User Role is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width mb-3">
          <mat-label> Address</mat-label>
          <input type="text"  matInput placeholder="Ex. cairo" formControlName="address">
          <mat-error *ngIf="fc['address'].errors?.['required']">
            User address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-3" *ngIf="!toggleMode">
          <mat-label> Password</mat-label>
          <input type="password"  matInput placeholder="Ex. 10" formControlName="password">
          <mat-error *ngIf="fc['password'].errors?.['required']">
            User Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mb-3">
          <mat-label>User image</mat-label>
          <ngx-mat-file-input class="input-file"  formControlName="userImg">
             <mat-icon ngxMatFileInputIcon>folder</mat-icon>
          </ngx-mat-file-input >
          <mat-error *ngIf="fc['userImg'].errors?.['required']">
            User image is <strong>required</strong>
          </mat-error>
       </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <button class="w-25" mat-raised-button color="primary">Save</button>
      <button *ngIf="toggleMode" class="w-25" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</section>

<section class="mt-5" *ngIf="!toggleMode">
  <h2 class="main-title">System users</h2>
  <div class="users">
    <mat-card class="shadow-effect" *ngFor="let user of users.data"  >
      <img  class="img-fluid artImg" [src]="user.userImg  ? user.userImg : 'assets/user.webp'" alt="user-img" >
      <div class="p-2">
        <div class="email">
          <h6>Email:<span class="ps-1">{{ user.email }}</span></h6>
        </div>
        <div class="name">
          <h6>Name:<span class="ps-1">{{ user.name }}</span></h6>
        </div>
        <div class="role">
          <h6>Role:<span class="ps-1">{{ user.role }}</span></h6>
        </div>
        <div class="phone">
          <h6>Phone:<span class="ps-1">{{ user.phone }}</span></h6>
        </div>
        <div class="address">
          <h6>Adress:<span class="ps-1">{{ user.address }}</span></h6>
        </div>
      </div>
      <div class="actions d-flex justify-content-center align-content-center gap-2 mb-2">
        <button mat-raised-button color="primary" (click)="changeMode(user._id)">Update</button>
        <button mat-raised-button color="warn" (click)="deleteUser(user._id)">Delete</button>
      </div>

    </mat-card>
  </div>
</section>
